* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: 'Noto Sans KR', sans-serif;
  box-sizing: border-box;
  background-color: #f1f1f5;
  width: 100%;
}

#root {
  margin: auto;
  justify-content: center;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media (max-width: 2048px) {
  #DetailBody {
    width : 80%;
  }


  #region_search_bar {
    flex-direction: row;
    width: 310px;
    right: 30px;
    margin-top: 30px;
  }

  #region_search_bar div {
    margin-left: 10px;
  }
}

@media (max-width: 1024px) {
  #DetailBody {
    width : 95%;
  }

  #Photo {
    width : 80%;
    margin: 10px 10%;
  }
  #Friend {
    width: 45%;
    margin: 10px 2.5%;
  }


  #region_search_bar {
    flex-direction: column;
    width: 310px;
    right: 0;
    margin-top: 30px;
  }

  #region_search_bar select{
    margin-bottom: 10px;

  }
}




