body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box; 
  /* border,padding이 실제 height, width에 영향을 주지 않습니다 */
  background: #f1f1f5;
}

*, *:before, *:after {
  box-sizing: inherit;
}